@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;0,700;1,400&display=swap');

$primary-light-red: hsl(356, 100%, 66%);
$primary-Very-light-red:  hsl(355, 100%, 74%);
$primary-very-dark-blue: hsl(208, 49%, 24%);

$neutral-white: hsl(0, 0%, 100%);
$neutral-grayish-blue: hsl(240, 2%, 79%);
$neutral-very-dark-grayish-blue: hsl(207, 13%, 34%);
$neutral-very-dark-black-blue:  hsl(240, 10%, 16%);

$bg-Very-dark-gray-blue: hsl(237, 17%, 21%);
$bg-Very-dark-desaturated-blue: hsl(237, 23%, 32%)